@using HGenealogy.Models.PedigreeInfo
@model List<PedigreeInfoModel>

@{
    string tilte = ViewBag.Title;
    int currentPedigreeID = ViewBag.currentPedigreeID;
    string currentInfoType = ViewBag.currentInfoType;
    IDictionary<string, string> infoTypeDic = ViewBag.infoTypeDic;
}

<div class="side-2">
    <div class="block">
        <div class="title">
            <strong>族譜資訊</strong>
        </div>
        <div class="block-pedigree-info-navigation listbox">
            <ul class="list">
                @foreach (KeyValuePair<string, string> keyValue in infoTypeDic)
                {
                    @RenderCategoryLine(keyValue, currentPedigreeID, currentInfoType)
                }
            </ul>
        </div>
    </div>
</div>
<div class="center-2">
    @Html.Partial("_List", Model, new ViewDataDictionary { {"Title", tilte},
                                                           {"currentPedigreeID", currentPedigreeID},
                                                           {"currentInfoType", currentInfoType},
                                                           {"infoTypeDic", infoTypeDic},
                                                           })
</div>

@helper RenderCategoryLine(KeyValuePair<string, string> infoTypeKeyValue, int currentPedigreeID, string currentInfoType)
{

    bool active = infoTypeKeyValue.Key == currentInfoType;
    bool last = infoTypeKeyValue.Key == "Tomb";
    string liClass = active ? "active" : "inactive";
    if (last)
    {
        liClass += " last";
    }
    <li class="@liClass">
        @Html.ActionLink(infoTypeKeyValue.Value, "Index", new { pedigreeID = currentPedigreeID, infoType = infoTypeKeyValue.Key })
    </li>
}