@using HGenealogy.Models.Home;
@model IEnumerable<NewsModel>

<div class="page">
    <div class="page-title">
        <h1>新聞瀏覽</h1>
    </div>

    @foreach (var item in Model)
    {
        <div class="container-fluid memberbox">

            <div class="member_intro">
                <div>
                    <div class="member_intro_content">
                        <div class="row">
                            <div class="col-md-2 text-right">@Html.DisplayNameFor(model => model.Title):</div>
                            <div class="col-md-10">@Html.DisplayFor(model => item.Title)</div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">@Html.DisplayNameFor(model => model.Content):</div>
                            <div class="col-md-10"> @Html.Raw(item.Content)  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
