@using HGenealogy.Models.Home;
@model IEnumerable<PedigreeMetaModel>


<div class="panel panel-warning ">
    <div class="panel-heading text-center">
        <h4>最新族譜</h4>
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <blockquote>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Url.Content(item.Image)" class="img-rounded"  width="50" />
                    </div>
                    <div class="col-md-9 ">
                            <h4>@Html.ActionLink(item.Title, "Index", "PedigreeInfo", new { pedigreeID = item.Id }, new { @class="text-info"})</h4>

                        <h5>@item.Description</h5>
                        <footer>@Html.DisplayFor(model => item.CreatedOnUtc)</footer>
                    </div>
                </div>
            </blockquote>
            <hr style="border-bottom-color:#f5f5f0" />
        }
    </div>
</div>
