@using HGenealogy.Models.FamilyMember
@model FamilyMemberViewModel

@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
 
@{
    ViewBag.Title = "Family Tree A";
    //string currentPedigreeName = ViewBag.currentPedigreeName;
    int currentPedigreeId = ViewBag.currentPedigreeId;
    IEnumerable<SelectListItem> AvailablePedigreeList = ViewBag.AvailablePedigreeSelectList == null ? null : (IEnumerable<SelectListItem>)ViewBag.AvailablePedigreeSelectList;
    IEnumerable<SelectListItem> FamilyMemberList = ViewBag.FamilyMemberSelectList == null ? null : (IEnumerable<SelectListItem>)ViewBag.FamilyMemberSelectList;

}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Scripts/select2/css/select2.css">
    <link rel="stylesheet" type="text/css" href="~/Content/familytreea.css">
    <script src="~/Scripts/map/d3/d3.js"></script>

    <style type="text/css">
    .node {
        cursor: pointer;
    }

    .overlay {
        background-color: #EEE;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font-size: 10px;
        font-family: sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show {
        display: block;
    }

    .ghostCircle, .activeDrag .ghostCircle {
        display: none;
    }
</style>

}

<div class="container">
    <h2>FamilyTree</h2>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
   
</div>

<div id="tree-container">
 
</div>
<script src="~/Scripts/project.d3.dndtree.js"></script>